/* Admin Pages */
	/* Column Classes */
	.rbd-core-ui .container {
	  position: relative;
	  width: 100%;
	  max-width: 960px;
	  margin: 0 auto;
	  padding: 0 20px;
	  box-sizing: border-box; }

	.rbd-core-ui .column,
	.rbd-core-ui .columns {
	  width: 100%;
	  /* float: left; */
	  display: inline-block;
	  margin-right: -4px;
	  box-sizing: border-box; }

	/* For devices larger than 400px */
	@media (min-width: 400px) {
	  .rbd-core-ui .container {
		padding: 0; }
	}

	/* For devices larger than 550px */
	@media (min-width: 550px) {
	  .rbd-core-ui .column,
	  .rbd-core-ui .columns {
		margin-left: 4%; }

	.rbd-core-ui .column:first-child,
	  .rbd-core-ui .columns:first-child {
		margin-left: 0; }

	  .rbd-core-ui .one.column,
	  .rbd-core-ui .one.columns                    { width: 4.66666666667%; }
	  .rbd-core-ui .two.columns                    { width: 13.3333333333%; }
	  .rbd-core-ui .three.columns                  { width: 22%;            }
	  .rbd-core-ui .four.columns                   { width: 30.6666666667%; }
	  .rbd-core-ui .five.columns                   { width: 39.3333333333%; }
	  .rbd-core-ui .six.columns                    { width: 48%;            }
	  .rbd-core-ui .seven.columns                  { width: 56.6666666667%; }
	  .rbd-core-ui .eight.columns                  { width: 65.3333333333%; }
	  .rbd-core-ui .nine.columns                   { width: 74.0%;          }
	  .rbd-core-ui .ten.columns                    { width: 82.6666666667%; }
	  .rbd-core-ui .eleven.columns                 { width: 91.3333333333%; }
	  .rbd-core-ui .twelve.columns                 { width: 100%; margin-left: 0; }

	  .rbd-core-ui .one-third.column               { width: 30.6666666667%; }
	  .rbd-core-ui .two-thirds.column              { width: 65.3333333333%; }

	  .rbd-core-ui .one-half.column                { width: 48%; }

	  /* Offsets */
	  .rbd-core-ui .offset-by-one.column,
	  .rbd-core-ui .offset-by-one.columns          { margin-left: 8.66666666667%; }
	  .rbd-core-ui .offset-by-two.column,
	  .rbd-core-ui .offset-by-two.columns          { margin-left: 17.3333333333%; }
	  .rbd-core-ui .offset-by-three.column,
	  .rbd-core-ui .offset-by-three.columns        { margin-left: 26%;            }
	  .rbd-core-ui .offset-by-four.column,
	  .rbd-core-ui .offset-by-four.columns         { margin-left: 34.6666666667%; }
	  .rbd-core-ui .offset-by-five.column,
	  .rbd-core-ui .offset-by-five.columns         { margin-left: 43.3333333333%; }
	  .rbd-core-ui .offset-by-six.column,
	  .rbd-core-ui .offset-by-six.columns          { margin-left: 52%;            }
	  .rbd-core-ui .offset-by-seven.column,
	  .rbd-core-ui .offset-by-seven.columns        { margin-left: 60.6666666667%; }
	  .rbd-core-ui .offset-by-eight.column,
	  .rbd-core-ui .offset-by-eight.columns        { margin-left: 69.3333333333%; }
	  .rbd-core-ui .offset-by-nine.column,
	  .rbd-core-ui .offset-by-nine.columns         { margin-left: 78.0%;          }
	  .rbd-core-ui .offset-by-ten.column,
	  .rbd-core-ui .offset-by-ten.columns          { margin-left: 86.6666666667%; }
	  .rbd-core-ui .offset-by-eleven.column,
	  .rbd-core-ui .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

	  .rbd-core-ui .offset-by-one-third.column,
	  .rbd-core-ui .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
	  .rbd-core-ui .offset-by-two-thirds.column,
	  .rbd-core-ui .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

	  .rbd-core-ui .offset-by-one-half.column,
	  .rbd-core-ui .offset-by-one-half.columns     { margin-left: 52%; }
	}

	/* Display Classes */
	.rbd-core-ui .d-n { display: none; }
	.rbd-core-ui .d-b { display: block; }
	.rbd-core-ui .d-i { display: inline; }
	.rbd-core-ui .d-ib { display: inline-block; }

	/* Margin Classes */
	.rbd-core-ui .m-sq-xs { margin: 2px; }
	.rbd-core-ui .m-sq-sm { margin: 5px; }
	.rbd-core-ui .m-sq-md { margin: 10px; }
	.rbd-core-ui .m-sq-lg { margin: 15px; }
	.rbd-core-ui .m-sq-xl { margin: 20px; }
	.rbd-core-ui .m-sq-xxl { margin: 40px; }
	.rbd-core-ui .m-t-xs { margin-top: 2px; }
	.rbd-core-ui .m-t-sm { margin-top: 5px; }
	.rbd-core-ui .m-t-md { margin-top: 10px; }
	.rbd-core-ui .m-t-lg { margin-top: 15px; }
	.rbd-core-ui .m-t-xl { margin-top: 20px; }
	.rbd-core-ui .m-t-xxl { margin-top: 40px; }
	.rbd-core-ui .m-b-xs { margin-bottom: 2px; }
	.rbd-core-ui .m-b-sm { margin-bottom: 5px; }
	.rbd-core-ui .m-b-md { margin-bottom: 10px; }
	.rbd-core-ui .m-b-lg { margin-bottom: 15px; }
	.rbd-core-ui .m-b-xl { margin-bottom: 20px; }
	.rbd-core-ui .m-b-xxl { margin-bottom: 40px; }
	.rbd-core-ui .m-0-a { margin: 0 auto; }
	.rbd-core-ui .m-b-0 { margin-bottom: 0; }
	.rbd-core-ui .m-t-0 { margin-top: 0; }
	.rbd-core-ui .m-0 { margin: 0; }

	/* Padding Classes */
	.rbd-core-ui .p-sq-xs { padding: 2px; }
	.rbd-core-ui .p-sq-sm { padding: 5px; }
	.rbd-core-ui .p-sq-md { padding: 10px; }
	.rbd-core-ui .p-sq-lg { padding: 15px; }
	.rbd-core-ui .p-sq-xl { padding: 20px; }
	.rbd-core-ui .p-sq-xxl { padding: 40px; }
	.rbd-core-ui .p-t-xs { padding-top: 2px; }
	.rbd-core-ui .p-t-sm { padding-top: 5px; }
	.rbd-core-ui .p-t-md { padding-top: 10px; }
	.rbd-core-ui .p-t-lg { padding-top: 15px; }
	.rbd-core-ui .p-t-xl { padding-top: 20px; }
	.rbd-core-ui .p-t-xxl { padding-top: 40px; }
	.rbd-core-ui .p-b-xs { padding-bottom: 2px; }
	.rbd-core-ui .p-b-sm { padding-bottom: 5px; }
	.rbd-core-ui .p-b-md { padding-bottom: 10px; }
	.rbd-core-ui .p-b-lg { padding-bottom: 15px; }
	.rbd-core-ui .p-b-xl { padding-bottom: 20px; }
	.rbd-core-ui .p-b-xxl { padding-bottom: 40px; }
	.rbd-core-ui .p-b-0 { padding-bottom: 0; }
	.rbd-core-ui .p-t-0 { padding-top: 0; }
	.rbd-core-ui .p-0 { padding: 0; }

	/* Position Classes */
	.rbd-core-ui .p-f { position: fixed; }
	.rbd-core-ui .p-a { position: absolute; }
	.rbd-core-ui .p-r { position: relative; }

	.rbd-core-ui .top-0 { top: 0; }
	.rbd-core-ui .top-xs { top: 2px; }
	.rbd-core-ui .top-sm { top: 5px; }
	.rbd-core-ui .top-md { top: 10px; }
	.rbd-core-ui .top-lg { top: 15px; }
	.rbd-core-ui .top-xl { top: 20px; }
	.rbd-core-ui .top-xxl { top: 40px; }
	.rbd-core-ui .top-xxxl { top: 60px; }

	.rbd-core-ui .bottom-0 { bottom: 0; }
	.rbd-core-ui .bottom-xs { bottom: 2px; }
	.rbd-core-ui .bottom-sm { bottom: 5px; }
	.rbd-core-ui .bottom-md { bottom: 10px; }
	.rbd-core-ui .bottom-lg { bottom: 15px; }
	.rbd-core-ui .bottom-xl { bottom: 20px; }
	.rbd-core-ui .bottom-xxl { bottom: 40px; }
	.rbd-core-ui .bottom-xxxl { bottom: 60px; }

	/* Alignment Classes */
	.rbd-core-ui .text-left { text-align: left; }
	.rbd-core-ui .text-right { text-align: right; }
	.rbd-core-ui .text-center { text-align: center; }
	.rbd-core-ui .text-justify { text-align: justify; }
	.rbd-core-ui .left { float: left; }
	.rbd-core-ui .right { float: right; }
	.rbd-core-ui .center { float: none; margin: 0 auto; }

	/* Color Classes */
	.rbd-core-ui .bg-white { background: #FFF; }
	.rbd-core-ui .bg-gray-dark { background-color: #EFEFEF; }
	.rbd-core-ui .bg-gray-light { background-color: #FBFBFB; }
	.rbd-core-ui .bg-gray-medium { background-color: #F3F3F3; }
	.rbd-core-ui .bg-transparent-dark { background-color: rgba(0,0,0,.35); }
	.rbd-core-ui .bg-transparent-light { background-color: rgba(255,255,255,.25); }
	.rbd-core-ui .bg-transparent-slight { background-color: rgba(0,0,0,.175); }

	/* Border Classes */
	.rbd-core-ui .border-top-dark { border-top: 1px solid #666; }
	.rbd-core-ui .border-top-black { border-top: 1px solid #000; }
	.rbd-core-ui .border-top-white { border-top: 1px solid #FFF; }
	.rbd-core-ui .border-top-light { border-top: 1px solid #999; }
	.rbd-core-ui .border-top-darker { border-top: 1px solid #333; }
	.rbd-core-ui .border-top-lighter { border-top: 1px solid #CCC; }
	.rbd-core-ui .border-bottom-dark { border-bottom: 1px solid #666; }
	.rbd-core-ui .border-bottom-black { border-bottom: 1px solid #000; }
	.rbd-core-ui .border-bottom-white { border-bottom: 1px solid #FFF; }
	.rbd-core-ui .border-bottom-light { border-bottom: 1px solid #999; }
	.rbd-core-ui .border-bottom-darker { border-bottom: 1px solid #333; }
	.rbd-core-ui .border-bottom-lighter { border-bottom: 1px solid #CCC; }

	/* "Z" Styles (Box/Text Shadow) */
	.rbd-core-ui .box { box-shadow: 0; }
	.rbd-core-ui .box-far { box-shadow: 0 0 20px rgba( 0, 0, 0, .3); }
	.rbd-core-ui .box-close { box-shadow: 0 0 10px rgba(0,0,0, .35); }

	/* Tooltip Styles */
	.rbd-core-ui [data-tooltip],
	.rbd-core-ui .tooltip {
		position: relative;
		cursor: pointer; }

	/* Base styles for the entire tooltip */
	.rbd-core-ui .tooltip:after,
	.rbd-core-ui .tooltip:before,
	.rbd-core-ui [data-tooltip]:after,
	.rbd-core-ui [data-tooltip]:before {
		position: absolute;
		visibility: hidden;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		-webkit-transition:
			opacity 0.2s ease-in-out,
				visibility 0.2s ease-in-out,
					-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
		-moz-transition:
			opacity 0.2s ease-in-out,
				visibility 0.2s ease-in-out,
					-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
		transition:
			opacity 0.2s ease-in-out,
				visibility 0.2s ease-in-out,
					transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform:    translate3d(0, 0, 0);
		transform:         translate3d(0, 0, 0);
		pointer-events: none; }

	/* Show the entire tooltip on hover and focus */
	.rbd-core-ui .tooltip:hover:after,
	.rbd-core-ui .tooltip:hover:before,
	.rbd-core-ui .tooltip:focus:after,
	.rbd-core-ui .tooltip:focus:before,
	.rbd-core-ui [data-tooltip]:hover:after,
	.rbd-core-ui [data-tooltip]:focus:after,
	.rbd-core-ui [data-tooltip]:hover:before,
	.rbd-core-ui [data-tooltip]:focus:before {
		visibility: visible;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1; }

	/* Base styles for the tooltip's directional arrow */
	.rbd-core-ui .tooltip:before,
	.rbd-core-ui [data-tooltip]:before {
		z-index: 1001;
		border: 6px solid transparent;
		background: transparent;
		content: ""; }

	/* Base styles for the tooltip's content area */
	.rbd-core-ui .tooltip:after,
	.rbd-core-ui [data-tooltip]:after {
		z-index: 1000;
		padding: 8px;
		width: 180px;
		background-color: #000;
		background-color: hsla(0, 0%, 20%, 0.9);
		color: #fff;
		content: attr(data-tooltip);
		font-size: 13px;
		line-height: 16px; }

	/* Directions */

	/* Top (default) */
	.rbd-core-ui .tooltip:after,
	.rbd-core-ui .tooltip:before,
	.rbd-core-ui .tooltip-top:after,
	.rbd-core-ui .tooltip-top:before,
	.rbd-core-ui [data-tooltip]:after,
	.rbd-core-ui [data-tooltip]:before {
		bottom: 100%;
		left: 50%; }

	.tooltip:before,
	.tooltip-top:before,
	[data-tooltip]:before {
		margin-left: -6px;
		margin-bottom: -12px;
		border-top-color: #000;
		border-top-color: hsla(0, 0%, 20%, 0.9); }

	/* Horizontally align top/bottom tooltips */
	.tooltip:after,
	.tooltip-top:after,
	[data-tooltip]:after {
		margin-left: -80px; }

	.rbd-core-ui .tooltip:hover:after,
	.rbd-core-ui .tooltip:focus:after,
	.rbd-core-ui .tooltip:hover:before,
	.rbd-core-ui .tooltip:focus:before,
	.rbd-core-ui .tooltip-top:hover:after,
	.rbd-core-ui .tooltip-top:focus:after,
	.rbd-core-ui .tooltip-top:hover:before,
	.rbd-core-ui .tooltip-top:focus:before,
	.rbd-core-ui [data-tooltip]:hover:after,
	.rbd-core-ui [data-tooltip]:focus:after,
	.rbd-core-ui [data-tooltip]:hover:before,
	.rbd-core-ui [data-tooltip]:focus:before {
		-webkit-transform: translateY(-12px);
		-moz-transform:    translateY(-12px);
		transform:         translateY(-12px); }

	/* Left */
	.rbd-core-ui .tooltip-left:after,
	.rbd-core-ui .tooltip-left:before {
		right: 100%;
		bottom: 50%;
		left: auto; }

	.rbd-core-ui .tooltip-left:before {
		margin-left: 0;
		margin-right: -12px;
		margin-bottom: 0;
		border-top-color: transparent;
		border-left-color: #000;
		border-left-color: hsla(0, 0%, 20%, 0.9); }

	.rbd-core-ui .tooltip-left:hover:before,
	.rbd-core-ui .tooltip-left:hover:after,
	.rbd-core-ui .tooltip-left:focus:before,
	.rbd-core-ui .tooltip-left:focus:after {
	  -webkit-transform: translateX(-12px);
	  -moz-transform:    translateX(-12px);
	  transform:         translateX(-12px);  }

	/* Bottom */
	.rbd-core-ui .tooltip-bottom:before,
	.rbd-core-ui .tooltip-bottom:after {
	  top: 100%;
	  bottom: auto;
	  left: 50%; }

	.rbd-core-ui .tooltip-bottom:before {
	  margin-top: -12px;
	  margin-bottom: 0;
	  border-top-color: transparent;
	  border-bottom-color: #000;
	  border-bottom-color: hsla(0, 0%, 20%, 0.9); }

	.rbd-core-ui .tooltip-bottom:hover:before,
	.rbd-core-ui .tooltip-bottom:hover:after,
	.rbd-core-ui .tooltip-bottom:focus:before,
	.rbd-core-ui .tooltip-bottom:focus:after {
	  -webkit-transform: translateY(12px);
	  -moz-transform:    translateY(12px);
	  transform:         translateY(12px); }

	/* Right */
	.rbd-core-ui .tooltip-right:before,
	.rbd-core-ui .tooltip-right:after {
	  bottom: 50%;
	  left: 100%; }

	.rbd-core-ui .tooltip-right:before {
	  margin-bottom: 0;
	  margin-left: -12px;
	  border-top-color: transparent;
	  border-right-color: #000;
	  border-right-color: hsla(0, 0%, 20%, 0.9); }

	.rbd-core-ui .tooltip-right:hover:before,
	.rbd-core-ui .tooltip-right:hover:after,
	.rbd-core-ui .tooltip-right:focus:before,
	.rbd-core-ui .tooltip-right:focus:after {
	  -webkit-transform: translateX(12px);
	  -moz-transform:    translateX(12px);
	  transform:         translateX(12px); }

	/* Move directional arrows down a bit for left/right tooltips */
	.rbd-core-ui .tooltip-left:before,
	.rbd-core-ui .tooltip-right:before {
	  top: 3px; }

	/* Vertically center tooltip content for left/right tooltips */
	.rbd-core-ui .tooltip-left:after,
	.rbd-core-ui .tooltip-right:after {
		margin-left: 0;
		margin-bottom: -16px; }

	.rbd-core-ui .dashicons + .tooltip {
	    display: inline-block;
	    width: 20px;
	    height: 20px; }

	.rbd-core-ui .tooltip-wrap {
		position: relative; }

	.rbd-core-ui .tooltip-wrap > span {
		position: absolute;
   		right: -24px;
    	top: -1px; }

	.rbd-core-ui .tooltip-wrap .dashicons {
		-webkit-transition: all .5s cubic-bezier(0.37, -0.38, 0.34, 1.64);
		-moz-transition: all .5s cubic-bezier(0.37, -0.38, 0.34, 1.64);
		-ms-transition: all .5s cubic-bezier(0.37, -0.38, 0.34, 1.64);
		-o-transition: all .5s cubic-bezier(0.37, -0.38, 0.34, 1.64);
		transition: all .5s cubic-bezier(0.37, -0.38, 0.34, 1.64); }

	.rbd-core-ui .tooltip-wrap:hover .dashicons {
		color: #0085ba;
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg); }

	/* General Styles */
	.rbd-metabox input[type="text"] { width: 350px; }

	.rbd-metabox label {
		width: 200px;
		font-size: 14px;
		vertical-align: top;
		margin-top: 5px; }

	.rbd-metabox .description .button-secondary {
		position: relative;
		top: -3px; }

/* Page Editor (Media Button and Pop Up) */
	/* Insert Media Button */
	.insert-review-engine-display span:before {
		font: 400 18px/1 dashicons;
	    speak: none;
	    -webkit-font-smoothing: antialiased;
		content: "\f154"; }

	.insert-review-engine-display:hover span:before {
		content: "\f155"; }

	/* Add Review Engine Popup */
	.rbd-re-popup-cloud {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		z-index: 10000;
		display: none; }

	.rbd-core-ui .tb-close-icon,
	.rbd-core-ui .rbd-re-popup {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);

		transform: scale(1);
		-webkit-transition: all .5s cubic-bezier(0.81, -0.48, 0.24, 2.09);
		-moz-transition: all .5s cubic-bezier(0.81, -0.48, 0.24, 2.09);
		-ms-transition: all .5s cubic-bezier(0.81, -0.48, 0.24, 2.09);
		-o-transition: all .5s cubic-bezier(0.81, -0.48, 0.24, 2.09);
		transition: all .5s cubic-bezier(0.81, -0.48, 0.24, 2.09);}

	.rbd-core-ui .rbd-re-popup {
		width: 600px;
		max-width: 95%;
		top: 60px;
		left: 0;
		right: 0; }

	.rbd-core-ui .tb-close-icon:hover {
		color: #0085BA;
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
		transform: scale(1.5); }

	.hidden .rbd-re-popup {
		-webkit-transform: scale(.75);
		-moz-transform: scale(.75);
		-ms-transform: scale(.75);
		-o-transform: scale(.75);
		transform: scale(.75); }

	.rbd-core-ui .tb-close-icon {
		top: 15px;
		right: 10px; }

	.rbd-core-ui .input-container {
		clear: both; }

	.rbd-core-ui label span {
		font-weight: 600; }

	.rbd-core-ui-admin .rangeslider,
	.rbd-core-ui-admin input[type='range'] {
	  max-width: 100%;
	  position: relative;
	  top: 10px;
	  margin-bottom: 30px;
	}

	.rbd-core-ui-admin .control + .rangeslider {
		display: none !important;
	}

	.rbd-core-ui-admin .range__ruler {
		text-align: justify;
		margin-top: -5px;
		font-size: 14px;
	}

	.rbd-core-ui-admin .range__ruler:after {
		content: "";
    	display: inline-block;
    	width: 100%;
	}

	.rbd-core-ui-admin .rangeslider__ruler {
	  cursor: pointer;
	  font-size: 14px;
	  margin: 20px 3px 0 3px;
	  position: relative;
	  top: 140%;
	  text-align: justify;
	}

	.rbd-core-ui-admin .rangeslider__ruler:after {
	  content: "";
	  display: inline-block;
	  width: 100%;
	}

	@media (max-width: 549px) {
		.rbd-core-ui .rbd-re-popup {
			position: relative;
		}
	}
