.rbd-core-ui,
.rbd-core-ui * {
	box-sizing: border-box;
}

body:not(.wp-admin) .rbd-core-ui {
	color: #333;
	font-family: 'Montserrat';
}

.rbd-core-ui .rbd-center {
	text-align: center;
}

.rbd-core-ui .rbd-normal {
	font-weight: normal;
}

.rbd-core-ui .rbd-sync {
    width: 14px;
    display: inline-block;
    position: absolute;
    right: 6px;
    bottom: 6px;
    line-height: 0;
    transition: .25s all;
    transform: rotate(0);
}

.rbd-core-ui .rbd-sync:hover {
	transform: rotate(-180deg) scale(1.25);
}

.rbd-core-ui .rbd-sync svg {
	fill: #0095ee;
}

/* Flex Styles */
.rbd-core-ui [data-grid="flex"] {
	display: flex;
	flex-wrap: wrap;
}

.rbd-core-ui [data-grid="flex"] > *,
.rbd-core-ui [data-grid="flex"][data-columns="1"] > * { flex: calc( 100% ); }
.rbd-core-ui [data-grid="flex"][data-columns="2"] > * { flex: calc( 100% / 2 ); }
.rbd-core-ui [data-grid="flex"][data-columns="3"] > * { flex: calc( 100% / 3 ); }
.rbd-core-ui [data-grid="flex"][data-columns="4"] > * { flex: calc( 100% / 4 ); }

/* CSS Grid Styles */
.rbd-core-ui [data-grid="grid"] {
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(12, 1fr);
}

.rbd-core-ui [data-grid="grid"] > *,
.rbd-core-ui [data-grid="grid"][data-columns="1"] > *  { grid-column: auto / span 12 }
.rbd-core-ui [data-grid="grid"][data-columns="2"] > *  { grid-column: auto / span 6 }
.rbd-core-ui [data-grid="grid"][data-columns="3"] > *  { grid-column: auto / span 4 }
.rbd-core-ui [data-grid="grid"][data-columns="4"] > *  { grid-column: auto / span 3 }

.rbd-core-ui [data-grid="grid"] [data-col-span="1"]  { grid-column: auto / span 1 }
.rbd-core-ui [data-grid="grid"] [data-col-span="2"]  { grid-column: auto / span 2 }
.rbd-core-ui [data-grid="grid"] [data-col-span="3"]  { grid-column: auto / span 3 }
.rbd-core-ui [data-grid="grid"] [data-col-span="4"]  { grid-column: auto / span 4 }
.rbd-core-ui [data-grid="grid"] [data-col-span="5"]  { grid-column: auto / span 5 }
.rbd-core-ui [data-grid="grid"] [data-col-span="6"]  { grid-column: auto / span 6 }
.rbd-core-ui [data-grid="grid"] [data-col-span="7"]  { grid-column: auto / span 7 }
.rbd-core-ui [data-grid="grid"] [data-col-span="8"]  { grid-column: auto / span 8 }
.rbd-core-ui [data-grid="grid"] [data-col-span="9"]  { grid-column: auto / span 9 }
.rbd-core-ui [data-grid="grid"] [data-col-span="10"] { grid-column: auto / span 10 }
.rbd-core-ui [data-grid="grid"] [data-col-span="11"] { grid-column: auto / span 11 }
.rbd-core-ui [data-grid="grid"] [data-col-span="12"] { grid-column: auto / span 12 }

.rbd-core-ui [data-grid="grid"] [data-row-span="2"] { grid-row: auto / span 2 }
.rbd-core-ui [data-grid="grid"] [data-row-span="3"] { grid-row: auto / span 3 }
.rbd-core-ui [data-grid="grid"] [data-row-span="4"] { grid-row: auto / span 4 }
.rbd-core-ui [data-grid="grid"] [data-row-span="5"] { grid-row: auto / span 5 }
.rbd-core-ui [data-grid="grid"] [data-row-span="6"] { grid-row: auto / span 6 }


.rbd-core-ui button,
.rbd-core-ui .rbd-button {
	background: #0095ee;
	color: #fff;
	border: 1px solid #0073cc;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 4px 12px -5px rgba(0,0,0,.5);
	padding: 12px 30px;
	cursor: pointer;
	outline: none;
	transition: .1s all ease-out;
	vertical-align: top;
	text-decoration: none;
	height: auto;
	line-height: 1;
}

.rbd-core-ui button.rbd-secondary,
.rbd-core-ui .rbd-button.rbd-secondary {
	background: #f4f4f4;
	border-color: #c1c1c1;
	color: #333;
	box-shadow: inset 0 1px 0 #fff, 0 4px 8px -6px rgba(0,0,0,.5);
}

.rbd-core-ui button.rbd-small,
.rbd-core-ui .rbd-button.rbd-small {
	padding: 6px 15px;
	font-weight: 300;
	font-size: initial;
} 

.rbd-core-ui button:hover,
.rbd-core-ui .rbd-button:hover {
	background: #11a6ff;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 2px 8px -6px rgba(0,0,0,.5);
	text-decoration: none;
}

.rbd-core-ui button.rbd-secondary:hover,
.rbd-core-ui .rbd-button.rbd-secondary:hover {
	background: #fcfcfc;
}

.rbd-core-ui .rbd-currently-loading,
.rbd-core-ui button.rbd-currently-loading,
.rbd-core-ui .rbd-button.rbd-currently-loading {
	background: transparent;
	padding: 0;
	box-shadow: none;
	font-size: 0;
	min-width: 18px;
	min-height: 18px;
	border-radius: 100%;
	border: 4px solid rgba(0,0,0,.1);
	border-top-color: #0095ee;
	animation: 1s rbd-rotate linear infinite;
}

.rbd-score svg { fill: rgba(0,0,0,.225); }
.rbd-score[data-score="1"] svg:nth-child(1),
.rbd-score[data-score="2"] svg:nth-child(-n+2),
.rbd-score[data-score="3"] svg:nth-child(-n+3),
.rbd-score[data-score="4"] svg:nth-child(-n+4),
.rbd-score[data-score="5"] svg:nth-child(-n+5) { fill: #ffbb58; }

.rbd-core-ui #rbd-popup-container {
	height: 0;
	overflow: hidden;
	z-index: 1000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*opacity: 0;*/
	background: rgba(0,0,0,0);
	transition: .5s background ease-out;
	width: 100%;
}

.rbd-core-ui #rbd-popup-container.rbd-shown {
	height: 100%;
	width: 100%;
	/*opacity: 1;*/
	background: rgba(0,0,0,.5);
}

.rbd-core-ui #rbd-popup-container .rbd-popup-content:not(.rbd-review-engine-display) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(.5) translate(-50%,-50%); /* Gives blurry 1px borders since they're halfway between pixels */
	transform: scale(.5) translate(calc( -50% - .5px ), calc( -50% - .5px ) ); /* Hack I came up with to fix that */
	transform-origin: top left;
	background: #fff;
	padding: 20px 30px;
	border: 1px solid #000;
	max-height: calc( 100vh - 80px );
	transition: .25s transform cubic-bezier(0.35,-0.35, 0.67, 1.35);
}

.rbd-core-ui #rbd-popup-container.rbd-shown .rbd-popup-content:not(.rbd-review-engine-display) {
	transform: scale(1) translate(calc( -50% - .5px ), calc( -50% - .5px ) );
}

.rbd-core-ui #rbd-popup-container .rbd-popup-content.rbd-review-engine-display {
	position: absolute;
	transform-origin: top left;
	background: #fff;
	padding: 20px 30px;
	border-radius: 4px;
	/*border: 1px solid #000;*/
	max-height: calc( 100vh - 80px );
	transition: .25s transform cubic-bezier(0.35,-0.35, 0.67, 1.35);
	transform: scale(1.1);
}

.rbd-core-ui #rbd-popup-container .rbd-popup-content .rbd-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.rbd-core-ui #rbd-popup-container .rbd-popup-content .rbd-content::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

.rbd-core-ui #rbd-popup-container .rbd-popup-content .rbd-content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 0 1px #0073cc, inset -1px 1px 0 1px rgba(255,255,255,.35);
	background-color: #0095ee;
}

.rbd-core-ui .rbd-popup-close {
	position: absolute;
	top: -6px;
	right: -6px;
	background: #fff;
	width: 26px;
	height: 26px;
	border-radius: 100%;
	box-shadow: inset 0 0 1px 1px #000, -2px 2px 7px -2px rgba(0,0,0,.8);
	cursor: pointer;
	transition: .2s all ease-out;
	border: 1px solid #fff;
}

.rbd-core-ui .rbd-popup-close:hover svg {
	fill: #0095ee;
}

/* Reputation Breakdown */
.rbd-core-ui .rbd-breakdown-container {
	max-height: 0;
	min-width: 400px;
	opacity: 0;
	background: #fff;
	box-shadow: 0 8px 30px -12px rgba(0, 0, 0, 0.5);
	z-index: 100;
	overflow: hidden;
	transition: .5s all ease-out;
	display: inline-block;
	border: 1px solid #0095ee;
	border-radius: 3px;
	margin-top: 10px;
	position: absolute;
}

.rbd-core-ui .rbd-breakdown-container.rbd-scaleIn {
	max-height: 250px;
	opacity: 1;
}

.rbd-core-ui .rbd-breakdown-container > div {
	padding: 10px 20px;
}

.rbd-core-ui .rbd-breakdown-container > div:first-child {
	padding-top: 20px;
}

.rbd-core-ui .rbd-breakdown-container > div:last-child {
	padding-bottom: 20px;
}

.rbd-core-ui .rbd-breakdown-container svg {
	width: 16px;
}

.rbd-core-ui .rbd-breakdown-container .rbd-bar {
	width: 200px;
	width: calc( 100% - 80px - 38px - 45px );
	height: 12px;
	background: linear-gradient(#f9f9f9, #f0f0f0);
	border-radius: 10px;
	border: 1px solid #eee;
	display: inline-block;
	margin-left: 4px;
	overflow: hidden;
}

.rbd-core-ui .rbd-breakdown-container .rbd-bar:after {
	content: "";
	display: block;
	height: 100%;
	width: var(--width);
	background: #0095ee;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.3);
	border-radius: 10px;
}

.rbd-core-ui .rbd-breakdown-container .rbd-percent {
	font-size: 14px;
	vertical-align: top;
	margin-left: 8px;
	color: #0095ee;
	font-weight: 600;
}

.rbd-core-ui .rbd-breakdown-container .rbd-percent.rbd-count {
	color: #333;
	opacity: .5;
	font-weight: 300;
}

@keyframes rbd-rotate {
	from { transform: rotate( 0deg ); }
	to	 { transform: rotate( 360deg ); }
}

@keyframes rbd-pulse {
	from {
		box-shadow: none;
    	border-color: #ddd;
	}
	50%  {
		box-shadow: 0 1px 20px -4px #0095ee;
    	border-color: #0095ee;
	}
	to   {
		box-shadow: none;
    	border-color: #ddd;
	}
}

/* Admin Specific */
.wp-admin .rbd-core-ui #rbd-popup-container .rbd-popup-content {
	transform: scale(.5);
	transform-origin: center;
}

.wp-admin .rbd-core-ui #rbd-popup-container.rbd-shown .rbd-popup-content {
	transform: scale(1);
	left: 0;
	right: 0;
	width: 600px;
	max-width: calc( 100vw - 60px );
	margin: 0 auto;
	top: 64px;
}

.wp-admin .rbd-core-ui #rbd-popup-container {
	position: fixed;
	width: 100vw;
}

.wp-admin .rbd-core-ui [data-columns] {
	padding: 5px;
}

.wp-admin .rbd-core-ui [data-columns] label {
	margin: 0 5px 5px;
}

.wp-admin .rbd-core-ui [data-columns] label span {
	display: inline-block;
	margin-bottom: 4px;
	font-weight: 500;
}

.wp-admin .rbd-core-ui [data-grid="grid"] {
	padding: 0;
	margin: 10px 0;	
}

.wp-admin .rbd-core-ui [data-columns="3"] label {
	flex-basis: calc( 100% / 3 - 30px );
}

.wp-admin .rbd-core-ui [data-columns="3"] label:nth-child(1n+4){
	margin-top: 10px;
}

.wp-admin .rbd-core-ui [data-columns="4"] label {
	flex-basis: calc( 100% / 4 - 40px );
}

@media (max-width: 1100px){
	/* Collapse all Flex and CSS Grids to 2 columns */
	.rbd-core-ui [data-grid="flex"] > *,
	.rbd-core-ui [data-grid="flex"][data-columns] > * { flex: calc( 100% / 2 ); }

	.rbd-core-ui [data-grid="grid"] > *,
	.rbd-core-ui [data-grid="grid"][data-columns] > * { grid-column: auto / span 6; }

	.wp-admin .rbd-core-ui [data-columns="4"] label {
		flex-basis: calc( 100% / 2 - 20px );
	}
}

@media (max-width: 768px){	
	/* Collapse all Flex and CSS Grids to 1 column */
	.rbd-core-ui [data-grid="flex"] > *,
	.rbd-core-ui [data-grid="flex"][data-columns] > * { flex: 100% ; }

	.rbd-core-ui [data-grid="grid"] > *,
	.rbd-core-ui [data-grid="grid"][data-columns] > * { grid-column: auto / span 12; }

	.wp-admin .rbd-core-ui [data-columns] label {
		flex-basis: calc( 100% );
	}
}