/* Structure */
.bold { font-weight: 600; }
.left { float: left; }
.right { float: right; }
.center { float: none; margin: 0 auto; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.dib { display: inline-block; }
.flex { display: inline-block; display: flex; }
.relative { position: relative; }
.absolute { position: absolute; }

/* Review Engine Display */
.rbd-core-ui .review-stars {
	font-size: 24px;
	margin: 0 7px 0 0;
	position: relative;
	top: 1px;
	line-height: 24px;
	position: relative;
}

.rbd-core-ui .star,
.rbd-core-ui .dark-star {
	font-size: 24px;
}

.rbd-core-ui .star.medium,
.rbd-core-ui .dark-star.medium {
	font-size: 32px;
}

.rbd-core-ui .star {
	text-shadow: 1px 1px 1px rgba(0,0,0,.15);
	position: relative;
	color: #EF6C00;
}

.rbd-core-ui .dark-star {
	color: #ccc;
}

.rbd-core-ui .review {
	padding: 10px;
}

.rbd-core-ui .review p {
    margin-bottom: 0;
}

.rbd-core-ui .review ._title {
	font-size: 110%;
	font-weight: 600;
}

.rbd-core-ui .review ._meta {
    font-size: 75%;
}

.rbd-core-ui .rbd-button {
	position: relative;
	display: inline-block;
    border: 1px solid;
    padding: 4px 26px 4px;
	background: transparent;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
	outline: 0 !important;
	margin-top: 10px;
	font-size: 90%;
	text-decoration: none;
}

.rbd-core-ui .rbd-button,
.rbd-core-ui .rbd-button * {
	position: relative;
	-webkit-transition: opacity .3s cubic-bezier(0.54, -0.29, 0.29, 1.46), left .3s cubic-bezier(0.54, -0.29, 0.29, 1.46), right .3s cubic-bezier(0.54, -0.29, 0.29, 1.46);;
	-moz-transition: opacity .3s cubic-bezier(0.54, -0.29, 0.29, 1.46), left .3s cubic-bezier(0.54, -0.29, 0.29, 1.46), right .3s cubic-bezier(0.54, -0.29, 0.29, 1.46);;
	-ms-transition: opacity .3s cubic-bezier(0.54, -0.29, 0.29, 1.46), left .3s cubic-bezier(0.54, -0.29, 0.29, 1.46), right .3s cubic-bezier(0.54, -0.29, 0.29, 1.46);;
	-o-transition: opacity .3s cubic-bezier(0.54, -0.29, 0.29, 1.46), left .3s cubic-bezier(0.54, -0.29, 0.29, 1.46), right .3s cubic-bezier(0.54, -0.29, 0.29, 1.46);;
	transition: opacity .3s cubic-bezier(0.54, -0.29, 0.29, 1.46), left .3s cubic-bezier(0.54, -0.29, 0.29, 1.46), right .3s cubic-bezier(0.54, -0.29, 0.29, 1.46);;
}

.rbd-core-ui .rbd-button span {
	left: 0px;
}

.rbd-core-ui .rbd-button i {
	-ms-filter: "alpha(opacity=0)";
	opacity: 0;
	display: inline-block;
	right: 24px;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

.rbd-core-ui .rbd-button:hover span {
	left: -10px;
}

.rbd-core-ui .rbd-button:hover i {
	-ms-filter: "alpha(opacity=100)";
	opacity: 1;
	right: 16px;
}

.rbd-core-ui .rbd-button.big {
	padding: 7px 34px 7px;
	font-size: 110%;
	background-color: currentColor;
}

.rbd-core-ui .rbd-button.big * {
	color: #fff;
}

.rbd-core-ui .write-review {
	margin: 0 0 0 24px;
}

.rbd-core-ui .re-footer {
	padding-top: 40px;
	padding-bottom: 25px;
	clear: both;
}

.rbd-core-ui .rbd-button:hover {
    box-shadow: none;
	text-decoration: none;
}

.rbd-core-ui .rbd-button:active {
    box-shadow: inset 0 1px 5px 1px rgba(0,0,0,.15);
}

.rbd-core-ui .hide {
	display: none;
}

.rbd-core-ui .show-block {
	display: block;
}

.rbd-core-ui .show-inline {
	display: inline;
}

.rbd-core-ui .show-inline-block {
	display: inline-block;
}

.rbd-core-ui .tiny {
	font-size: 75%; }

.rbd-core-ui .small {
	font-size: 90%; }

/* Review Slider */
.rbd-review-slider .review-wrap {
	transition: .5s all ease-in-out;
	float: left; }

.rbd-review-slider .unslider-wrap {
	position: relative; }

.rbd-review-slider .unslider-nav,
.rbd-review-slider .unslider-arrow {
	display: none !important; }

.rbd-review-slider .review-title {
	font-size: 110%;
	margin-bottom: 8px; }

.rbd-review-slider .review-content {
	margin-bottom: 5px; }

.rbd-review-slider .center {
	text-align: center; }

.rbd-review-slider .meta {
	font-size: 75%; }

.rbd-review-slider .meta,
.rbd-review-slider .synopsis {
	margin-top: 8px; }

.rbd-core-ui .review-stars {
	margin: 0; }

.rbd-review-slider .star {
	top: -2px; }

.rbd-review-slider .stars .dark-star {
	text-shadow: none; }

.rbd-review-slider .reviewer {
	font-size: 18px;
	position: relative;
	top: -6px; }

/* Reviews Social Proof */
.rbd-reviews-social-proof .star-container {
	top: 2px; }

.rbd-reviews-social-proof .meta {
	top: -4px;
	top: -.75rem; }

.rbd-reviews-social-proof .trim {
	overflow: hidden;
	white-space: nowrap; }

/* Cards */
.card {
  position: relative;
  margin-bottom: 0.75rem;
  border: 0.0625rem solid #e5e5e5;
  border-radius: 0.25rem; }

.card-block {
  padding: 1.25rem; }

.card-title {
  margin-top: 0;
  margin-bottom: 0.75rem; }

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }

.card-link + .card-link {
  margin-left: 1.25rem; }

.card > .list-group:first-child .list-group-item:first-child {
  border-radius: 0.25rem 0.25rem 0 0; }

.card > .list-group:last-child .list-group-item:last-child {
  border-radius: 0 0 0.25rem 0.25rem; }

.card-header {
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 0.0625rem solid #e5e5e5; }
  .card-header:first-child {
    border-radius: 0.1875rem 0.1875rem 0 0; }

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border-top: 0.0625rem solid #e5e5e5; }
  .card-footer:last-child {
    border-radius: 0 0 0.1875rem 0.1875rem; }

.card-primary {
  background-color: #850000;
  border-color: #850000; }

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c; }

.card-info {
  background-color: #550000;
  border-color: #550000; }

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f; }

.card-inverse .card-header,
.card-inverse .card-footer {
  border-bottom: 0.075rem solid rgba(255, 255, 255, 0.2); }

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff; }

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-blockquote > footer {
  color: rgba(255, 255, 255, 0.65); }

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
  color: #fff; }

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0; }

.card-img {
  border-radius: 0.25rem; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem; }

.card-img-top {
  border-radius: 0.25rem 0.25rem 0 0; }

.card-img-bottom {
  border-radius: 0 0 0.25rem 0.25rem; }

.card-deck {
  display: table;
  table-layout: fixed;
  border-spacing: 1.25rem 0; }
  .card-deck .card {
    display: table-cell;
    width: 1%;
    vertical-align: top; }

.card-deck-wrapper {
  margin-right: -1.25rem;
  margin-left: -1.25rem; }

.card-group {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .card-group .card {
    display: table-cell;
    vertical-align: top; }
    .card-group .card + .card {
      margin-left: 0;
      border-left: 0; }
    .card-group .card:first-child .card-img-top {
      border-top-right-radius: 0; }
    .card-group .card:first-child .card-img-bottom {
      border-bottom-right-radius: 0; }
    .card-group .card:last-child .card-img-top {
      border-top-left-radius: 0; }
    .card-group .card:last-child .card-img-bottom {
      border-bottom-left-radius: 0; }
    .card-group .card:not(:first-child):not(:last-child) {
      border-radius: 0; }
      .card-group .card:not(:first-child):not(:last-child) .card-img-top,
      .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
        border-radius: 0; }

.card-columns {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem; }
  .card-columns .card {
    display: inline-block;
    width: 100%; }

/* Images */
.figure {
  display: inline-block; }
  .figure > img {
    line-height: 1;
    margin-bottom: 0.5rem; }

.figure-caption {
  font-size: 90%;
  color: #818a91; }

.img-responsive, .figure > img, .carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 0.3rem; }

.img-thumbnail {
  padding: 0.25rem;
  line-height: 2;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

.img-polaroid {
  border: 4px solid #fff; }

.img-polaroid-m {
  border: 8px solid #fff; }

.img-polaroid-l {
  border: 12px solid #fff; }

/* Quick Fixes */
.brightness-over-9000 .rbd-reviews-social-proof {
	margin: -10px 0; }

.brightness-over-9000 .simple-social-icons {
	position: relative;
	top: 6px; }

.brightness-over-9000 .upper-right-call-to-action {
	position: relative;
	top: 2px; }
